:root {
  --accent-color: #3f51b5;
  --hover-color:  #000000;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 12pt;
  line-height: 2;
  margin: 0;
}

a {
  color: var(--accent-color);
  transition: 0.2s;
}

a:hover {
  color: var(--hover-color);
}

article {
  margin: 0 auto;
  padding: 1em;
  max-width: 700px;
}

figure {
  margin: 0;
  margin-bottom: 2em;
}

img {
  max-width: 100%;
}

img.icon {
  border: 1px solid #cccccc;
  border-radius: 50%;
  margin-right: 0.5em;
  max-width: 30px;
  height: auto;
}

article > img {
  margin-bottom: 2em;
}

h1 {
  line-height: 1.5;
  margin-bottom: 0.5em;
}

p {
  margin-top: 0;
  margin-bottom: 2em;
}

ol, ul {
  margin-top: 0;
}
p + ol, p + ul {
  margin-top: -1em;
}

cite[data-reference] {
  border-bottom: 1px dotted #333333;
  cursor: pointer;
  font-size: 0.75em;
  font-style: normal;
  position: relative;
  bottom: 0.5em;
}

cite[data-reference]::before { content: '('; color: #333333; }
cite[data-reference]::after  { content: ')'; color: #333333; }

cite[data-reference] .in-text-reference {
  background-color: #ffffff;
  border: 1px solid;
  display: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 0.75em 1.5em;
  position: absolute;
  top: 0; left: 0;
  width: 300px;
  z-index: 100;
}

cite[data-reference]:hover .in-text-reference  {
  display: block;
}

blockquote {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: 2em;
  padding: 1.5em 0;
}

blockquote .quote {
  margin-bottom: 0;
  position: relative;
}

blockquote .quote::before,
blockquote .quote::after {
  font-size: 3em;
  font-weight: bold;
  line-height: 0.5;
  position: absolute;
}

blockquote .quote::before { content: '“'; top:    -0.00em; left:  -0.75em; }
blockquote .quote::after  { content: '”'; bottom: -0.50em; right: -0.50em; }

blockquote ol {
  list-style-type: upper-alpha;
}

@media (min-width: 600px) {
  blockquote {
    padding-left: 2em;
    padding-right: 2em;
  }
}

#References ul {
  list-style-type: none;
  padding-left: 0;
}

#References li {
  margin-bottom: 2em;
  padding-left: 3em;
  text-indent: -3em;
}

.byline {
  display: flex;
  margin-bottom: 1.5em;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  height: 1px;
  width: 1px;
}



button#screenreader-mode {
  background-color: var(--accent-color);
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 1em 2em;
  transition: 0.3s;
  min-width: 200px;
}

button#screenreader-mode:hover {
  background-color: var(--hover-color);
}

button#reset-mode {
  background-color: var(--accent-color);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  position: fixed;
  right: 2em;
  bottom: 2em;
  transition: 0.3s;
  width: 75px;
  height: 75px;
}

button#reset-mode:hover {
  background-color: var(--hover-color);
}





.simulated {
  padding: 1em;
}

.simulated article * {
  border:       none !important;
  font-size:    1rem !important;
  font-style: normal !important;
  font-weight:   300 !important;
  padding-left:    0 !important;
  padding-right:   0 !important;
  text-indent:     0 !important;
  margin-left:     0 !important;
  margin-right:    0 !important;
}

.simulated article > * {
  margin-top:      0 !important;
  margin-bottom: 1em !important;
}

.simulated a::before,
.simulated blockquote::before,
.simulated blockquote::after,
.simulated h1::before,
.simulated h2::before,
.simulated h3::before,
.simulated h4::before,
.simulated h5::before,
.simulated h6::before,
.simulated img::before,
.simulated [data-label]::before {
  color: var(--accent-color);
  font-weight: bold;
  margin-right: 0.25em;
}

.simulated a::before             { content: 'Link, ';              }
.simulated blockquote::before    { content: 'Block quote, ';       }
.simulated blockquote::after     { content: 'Out of block quote.'; }
.simulated h1::before            { content: 'Heading level 1, ';   }
.simulated h2::before            { content: 'Heading level 2, ';   }
.simulated h3::before            { content: 'Heading level 3, ';   }
.simulated h4::before            { content: 'Heading level 4, ';   }
.simulated h5::before            { content: 'Heading level 5, ';   }
.simulated h6::before            { content: 'Heading level 6, ';   }
.simulated img::before           { content: 'Image, ';             }
.simulated img:not([alt])::after { content: attr(data-src);        }
.simulated [data-label]::before  { content: attr(data-label) ', '; }

.simulated a {
  color: inherit;
  display: block;
  margin-top: 1em;
  text-decoration: none;
}

.simulated blockquote {
  padding: 0;
}

.simulated blockquote::before {
  display: block;
  margin-bottom: 1em;
}

.simulated blockquote::after {
  display: block;
  margin-top: 1em;
}

.simulated figure {
  margin-bottom: 1em;
}

.simulated img[alt]::before { /* Hide the broken image icon */
  background: white;
  margin-left: -1em;
  padding-top: 0.5em;
}

.simulated img {
  margin-bottom: 1em;
}

.simulated img[alt=""],
.simulated blockquote .quote::before,
.simulated blockquote .quote::after {
  display: none;
}

.simulated ul,
.simulated ol {
  list-style-type: none;
}

.simulated li {
  margin-bottom: 1em !important;
}

.simulated li:first-child {
  margin-top: 1em;
}

.simulated cite[data-reference] {
  cursor: initial;
  position: initial;
}

.simulated cite[data-reference]:hover .in-text-reference {
  display: none;
}

.simulated .byline,
.simulated .byline > * {
  display: block;
}

.simulated .byline > * {
  margin-bottom: 1em;
}

/* Reverse screen reader visible and hidden content */

.simulated [aria-hidden="true"] {
  display: none !important;
}

.simulated .sr-only {
  border: 0;
  clip: initial;
  clip-path: none;
  margin: 0;
  overflow: visible;
  padding: 0;
  position: initial;
  white-space: wrap;
  height: auto;
  width: auto;
}